{% extends 'base.html' %}

{% block title %}Home - QuizMaster{% endblock %}

{% block content %}
    <div class="container text-center mt-5">

        <button class="btn btn-success m-2" id="play-button" onclick="checkLogin();">
            Jogar
        </button>
        <button class="btn btn-info m-2" id="ranking-button"
                onclick="window.location.href='{{ url_for('home.ranking') }}';">
            Ver Ranking
        </button>
    </div>

    {% include 'modal_auth.html' %}

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    <script>
        const username = "{{ session.get('username') }}";

        function checkLogin() {
            if (username !== "None" && username) {
                window.location.href = "{{ url_for('game.solo') }}";
            } else {
                $('#authModal').modal('show');
            }
        }
    </script>

{% endblock %}
