{% extends 'base.html' %}

{% block title %}Ranking - QuizMaster{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4 text-center">Player Ranking</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped"
                   style="margin: 0 auto; text-align: center;">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {{ ranking_html | safe }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}