{% extends 'base.html' %}

{% block title %}Solo - Jogo{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="w-75 text-center" id="quiz-container">
            <h1>Trivia Quiz</h1>
            {% for question in questions %}
                <div class="question border border-black" data-id={{ question.hash_id }};>
                    <p>{{ loop.index }}. {{ question.question }}</p>
                    <ul class="border border-danger d-flex flex-wrap justify-content-around"
                        style="list-style-type: none">
                        {% for option in question.shuffled_answers %}
                            <li class="m-3 border border-danger">
                                <button class="btn btn-primary fixed-size-button">{{ option }}</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/questions.js') }}"></script>
{% endblock %}
