body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #0056b3;
    text-align: center;
}

.fixed-size-button {
    width: 200px;
    height: 50px;
    text-align: center;
    text-wrap: auto;
    overflow: hidden;
    white-space: nowrap;
}